{% load static %}



<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  {% include 'tractatusapp/ga.html' %}

  <link rel="icon" href="{% static 'favicon.ico' %} ">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Wittgensteiniana</title>


  <style media="screen">
    #previews img {
      height: 100px;
        border: 1px lightgrey solid;
      }

    </style>


</head>



<body style="margin-left: 100px;">



	<div id="header">


		{% block header %}
			<img style="width: 35%;" src="{% static 'custom/tractatusapp/img/witt1.jpg' %} ">


			<h1>Wittgensteiniana
        <small style="font-size: 11px; color: #5d7d36; display: block; margin-top:5px;">Experimental visualizations of the philosopher's works (<a href="http://www.michelepasin.org/projects/wittgensteiniana/">project info</a>)</small>
      </h1>

		{% endblock %}

	</div>


	{#  old css markup that we can remove! #}
	<div class="colmask maincolumn" style="margin-top: 60px; margin-bottom: 100px;">
		<div class="innercolumn">



			<h5 style="text-transform: uppercase;">Tractatus Logico-Philosophicus</h5>
      <hr style="color: grey;">

      <table id="previews" width="500" border="0" cellpadding="5">

        <tr>

            
          <td align="center" valign="center">
            
            <a href="{% url 'tractatusapp:indexmanysentences' %}">

              <img  src="{% static 'custom/tractatusapp/img/witt-onepage.png' %}" alt="description here" />
              </a>
            <br />
            All sentences on page, reveal on mouse-over.
          </td>

          <td align="center" valign="center">
              <a href="{% url 'tractatusapp:indexsentence' %}">
              <img  src="{% static 'custom/tractatusapp/img/witt-typewriter.png' %} " alt="description here" />
            </a>
            <br />
            One sentence per page, typewriter effect.
          </td>


          <td align="center" valign="center">
              <a href="{% url 'tractatusapp:spacetree' %}">
              <img  src="{% static 'custom/tractatusapp/img/witt-spacetree.png' %} " alt="description here" />
            </a>
            <br />
            Interactive 'space tree' visualization.
          </td>


        </tr>

      </table>

</div></div>




			{% if user.is_authenticated %}

<div style="margin-top: 100px;">



				<br /><br />
				<h4>Restricted content (edit in /mytemplates/home.html):</h4>


        <li>[admin-only] The <a href="{% url 'tractatusapp:d3index' %}">D3 Tree</a> (incomplete)</li>


  				<li><a href="{% url 'tractatusapp:wholetext' %}?level=0&fontsize=10">whole text</a>: query using '{% url 'tractatusapp:wholetext' %}?level=0&fontsize=10' .. (defaults to 'all' levels). Very small fontsizes produce interesting effects..</li>




				{% if readme %}
					<br /><br /><br /><br />
					<h2>README.txt:</h2>

					<br /><br />
					<div style="background: lavender;">
					{{readme|linebreaks}}
					</div>
				{% endif %}




			{% endif %}
</div>

</body>
</html>
